{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto py-8">
  <h1 class="text-4xl font-bold mb-4">Pesquisa de livros</h1>
  <form method="get" action="{% url 'buscar_livro' %}" class="max-w-md mx-auto mb-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        name="q"
        value="{{ search_query }}"
        placeholder="Digite o nome do livro, autor, categoria..."
        aria-label="Pesquisar livro"
        aria-describedby="search-btn"
      />
      <button class="btn btn-outline-secondary ml-2" type="submit" id="search-btn">
        Buscar
      </button>
    </div>
  </form>

  {% if books %}
  <div class="row">
    {% for book in books %}
      <div class="col-md-12 mb-1">
        <div class="card d-flex flex-row">
          <div class="card-image">
            <img
              src="{% if book.cover_url %}{{ book.cover_url }}{% else %}{% static 'img/no_image_available.png' %}{% endif %}"
              class="card-img-top m-2"
              alt="{{ book.title }}"
            />
          </div>
          <div class="card-body ml-2">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">Autor: {{ book.author }}</p>
            <p class="card-text">Categoria: {{ book.category }}</p>
            <div class="d-flex justify-content-end mt-auto">
              <a href="/livro/{{book.id}}"><button class="btn btn-danger mr-2">Detalhes</button></a>
              <a href="/admin/biblioteca/livro/add/?titulo={{book.title}}&editora={{book.publisher}}&ano_public={{book.publishedDate}}&autor={{book.author}}" class="btn btn-primary">Cadastrar</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
  {% if search_query %}
    <p>Nenhum resultado encontrado para "{{ search_query }}".</p>
  {% endif %}
  {% endif %}

</div>
{% endblock %}


