{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto py-8">
  <h1 class="text-4xl font-bold mb-4">Pesquisa de livros</h1>
  <form method="get" action="{% url 'buscar_livro' %}" class="max-w-md mx-auto mb-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        name="q"
        value="{{ search_query }}"
        placeholder="Digite o nome do livro, autor, categoria..."
        aria-label="Pesquisar livro"
        aria-describedby="search-btn"
      />
      <button class="btn btn-outline-secondary" type="submit" id="search-btn">
        Buscar
      </button>
    </div>
  </form>

  {% if books %}
  <div class="row">
    {% for book in books %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-2 d-flex">
        <div class="card h-90">
          <img
            src="{% if book.cover_url %}{{ book.cover_url }}{% else %}{% static 'img/no_image_available.png' %}{% endif %}"
            class="card-img-top"
            alt="{{ book.title }}"
          />
          <div class="card-body">
            <h5 class="card-title text-md mb-2">{{ book.title }}</h5>
            <p class="card-text text-sm mb-1">Autor: {{ book.author }}</p>
            <p class="card-text text-sm mb-1">Categoria: {{ book.category }}</p>
            {% if book.title %}
            <div class="row texte-center justify-content">
                <a href="/livro/{{book.id}}"><button class="btn btn-danger mr-2">Detalhes</button></a>
                <a href="/admin/biblioteca/livro/add/?titulo={{book.title}}&editora={{book.publisher}}&ano_public={{book.publishedDate}}&autor={{book.author}}" class="btn btn-primary">Cadastrar</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  {% if search_query %}
    <p>Nenhum resultado encontrado para "{{ search_query }}".</p>
  {% endif %}
{% endif %}

</div>
{% endblock %}

